<div class="shopping-cart">
  <h3>Your Shopping Cart:</h3>
  {{#each shoppingCart.items as |item|}}
    <li>{{item.title}} -- {{item.cost}}</li>
  {{/each}}

  <u><h3> Total </h3></u>
  {{shoppingCart.total}}
</div>
