<h1>{{product.title}}</h1>
{{sold-out product}}
<br>
{{#link-to 'product' product.id}}
  <img src="{{product.image}}" alt="img">
{{/link-to}}
<br>
<button class="btn btn-warning"{{action 'addToCart' product}}> Add to Cart</button>
