<h1>{{product.title}}</h1>
<br>
{{#link-to 'product' product.id class="product-image"}}
  <img src="{{product.image}}" alt="img">
{{/link-to}}
<br>
<button class="btn btn-warning"{{action 'addToCart' product}}> Add to Cart</button>
