<div class="productpage">
  <h1>Fruit Name: {{model.title}}</h1>
<img src="{{model.image}}">
<br>
<p>What's so good about it? <p> It's {{model.description}}.</p></p>
<br>
Price per an item: <p>${{model.cost}}</p>
<br>
<button class="btn btn-danger"> Add to Cart! </button>
</div>
